<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Donations.Lib.Persist" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Donations.Lib.Persist>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1010</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="ReviewWidth" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="ReviewHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="ReviewTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReviewLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReviewWindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="DonorTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonorLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonorWindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="DonorSelectTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonorSelectLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CategorySelectTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CategorySelectLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncryptedEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="NavTreeJsonFile" serializeAs="String">
                <value>Help\NavTree.json</value>
            </setting>
            <setting name="NavAnchorsJsonFile" serializeAs="String">
                <value>Help\NavAnchors.json</value>
            </setting>
            <setting name="HtmlHelpFile" serializeAs="String">
                <value>Help\Help.html</value>
            </setting>
            <setting name="CategoryReviewTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CategoryReviewWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="CategoryReviewLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CategoryReviewHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="PrintPreviewTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintPreviewLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintPreviewWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="PrintPreviewHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="PrintPreviewWindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryReviewWindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="DonationEnvelopeViewLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonationEnvelopeViewTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonationEnvelopeViewWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="DonationEnvelopeViewWindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="DonationEnvelopeViewHeight" serializeAs="String">
                <value>450</value>
            </setting>
        </Donations.Lib.Persist>
    </userSettings>
</configuration>